<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daniel.shop.dao.ProductionMapper" >
  <resultMap id="BaseResultMap" type="com.daniel.shop.entities.Production" >
    <id column="production_id" property="productionId" jdbcType="INTEGER" />
    <id column="production_name" property="productionName" jdbcType="VARCHAR" />
    <result column="production_in_value" property="productionInValue" jdbcType="DOUBLE" />
    <result column="production_out_value" property="productionOutValue" jdbcType="DOUBLE" />
    <result column="production_num" property="productionNum" jdbcType="INTEGER" />
    <result column="stock_time" property="stockTime" jdbcType="DATE" />
    <result column="sold_time" property="soldTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    production_id, production_name, production_in_value, production_out_value, production_num, 
    stock_time, sold_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.daniel.shop.entities.ProductionKey" >
    select 
    <include refid="Base_Column_List" />
    from production
    where production_id = #{productionId,jdbcType=INTEGER}
      and production_name = #{productionName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.daniel.shop.entities.ProductionKey" >
    delete from production
    where production_id = #{productionId,jdbcType=INTEGER}
      and production_name = #{productionName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.daniel.shop.entities.Production" >
    insert into production (production_id, production_name, production_in_value, 
      production_out_value, production_num, stock_time, 
      sold_time)
    values (#{productionId,jdbcType=INTEGER}, #{productionName,jdbcType=VARCHAR}, #{productionInValue,jdbcType=DOUBLE}, 
      #{productionOutValue,jdbcType=DOUBLE}, #{productionNum,jdbcType=INTEGER}, #{stockTime,jdbcType=DATE}, 
      #{soldTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.daniel.shop.entities.Production" >
    insert into production
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productionId != null" >
        production_id,
      </if>
      <if test="productionName != null" >
        production_name,
      </if>
      <if test="productionInValue != null" >
        production_in_value,
      </if>
      <if test="productionOutValue != null" >
        production_out_value,
      </if>
      <if test="productionNum != null" >
        production_num,
      </if>
      <if test="stockTime != null" >
        stock_time,
      </if>
      <if test="soldTime != null" >
        sold_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productionId != null" >
        #{productionId,jdbcType=INTEGER},
      </if>
      <if test="productionName != null" >
        #{productionName,jdbcType=VARCHAR},
      </if>
      <if test="productionInValue != null" >
        #{productionInValue,jdbcType=DOUBLE},
      </if>
      <if test="productionOutValue != null" >
        #{productionOutValue,jdbcType=DOUBLE},
      </if>
      <if test="productionNum != null" >
        #{productionNum,jdbcType=INTEGER},
      </if>
      <if test="stockTime != null" >
        #{stockTime,jdbcType=DATE},
      </if>
      <if test="soldTime != null" >
        #{soldTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.daniel.shop.entities.Production" >
    update production
    <set >
      <if test="productionInValue != null" >
        production_in_value = #{productionInValue,jdbcType=DOUBLE},
      </if>
      <if test="productionOutValue != null" >
        production_out_value = #{productionOutValue,jdbcType=DOUBLE},
      </if>
      <if test="productionNum != null" >
        production_num = #{productionNum,jdbcType=INTEGER},
      </if>
      <if test="stockTime != null" >
        stock_time = #{stockTime,jdbcType=DATE},
      </if>
      <if test="soldTime != null" >
        sold_time = #{soldTime,jdbcType=DATE},
      </if>
    </set>
    where production_id = #{productionId,jdbcType=INTEGER}
      and production_name = #{productionName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.daniel.shop.entities.Production" >
    update production
    set production_in_value = #{productionInValue,jdbcType=DOUBLE},
      production_out_value = #{productionOutValue,jdbcType=DOUBLE},
      production_num = #{productionNum,jdbcType=INTEGER},
      stock_time = #{stockTime,jdbcType=DATE},
      sold_time = #{soldTime,jdbcType=DATE}
    where production_id = #{productionId,jdbcType=INTEGER}
      and production_name = #{productionName,jdbcType=VARCHAR}
  </update>
</mapper>